<div class="row">
    <div class="col-md-5">
        <h2>Submit Review</h2>
        <p class="lead">Were you a fan of our service and want to tell others about it? Submit a review with description
            about how our service benefited you!
        </p>
    </div>
    <div class="col-md-7">
        <div class="well bs-component">
            <form class="form-horizontal">
                <fieldset>
                    <legend>Your Review</legend>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Full Name</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" ng-model="review.name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-10">
                            <input type="email" class="form-control" ng-model="review.email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textArea" class="col-lg-2 control-label">Review Description</label>
                        <div class="col-lg-10">
                            <textarea class="form-control" rows="3" ng-model="review.description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button ng-click="submitReview(review)" class="btn btn-primary" ng-disabled="messageSent">Send</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
