<div class="row">
    <div class="col-md-12">
        <h2>Pending Reviews</h2>
        <hr />
    </div>
</div>

<div class="row" ng-repeat="review in unapprovedReviewList">
    <div class="col-md-12">
        <h3>Submitted by: {{review.reviewed_by}}, {{review.email}}</h3>
        <h5>Review Date: {{review.date | date:'medium'}}</h5>
        <p>{{review.description}}</p>
    </div>
    <div class="col-md-12 right">
        <button class="btn btn-danger" ng-click="delete(review)">Delete</button>
        <button class="btn btn-primary" ng-click="approve(review)">Approve</button>
    </div>
</div>
