<div class="row">
    <div class="col-md-6">
        <h2>Wedding Package</h2>
        <p class="lead">Our base wedding package includes cocktail music, supper music, reception music and receive two
            complimentary uplights for your backdrop. Two LED Bars, 4 scanning Led lights (dance floor)
            with option of fog machine. We also offer a complimentary wireless microphone which our DJ
            will help control and monitor volume and feedback so your guests receive the ultimate experience!</p>
    </div>
    <div class="col-md-6">
        <div class="well bs-component">
            <form class="form-horizontal">
                <fieldset>
                    <legend>Customize Your Wedding Package</legend>
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">Name</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" ng-model="wedding.name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-10">
                            <input type="email" class="form-control" ng-model="wedding.email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textArea" class="col-lg-2 control-label">Tell Us About Your Event</label>
                        <div class="col-lg-10">
                            <textarea class="form-control" rows="3" ng-model="wedding.message"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Ceremony</label>
                        <div class="col-lg-10">
                            <div class="radio">
                                <label>
                                  <input type="radio" name="optionsRadios" ng-model="wedding.sameLocation" value="Same Location">
                                  Same Location
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                  <input type="radio" name="optionsRadios" ng-model="wedding.sameLocation"  value="Different Location">
                                    Different Location
                                  </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                <input type="checkbox" ng-model="wedding.videoPres"> Video Presentation (6x8 Screen)
                              </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="select" class="col-lg-2 control-label">Uplighting</label>
                        <div class="col-lg-10">
                            <select class="form-control" ng-model="wedding.uplightingNumber">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button ng-click="sendWedding()" class="btn btn-primary" ng-disabled="messageSent">Send</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img style="margin: 0 auto;" class="img-responsive img-rounded" src="../../assets/wedding2.jpg" alt="Wedding">
    </div>
    <div class="col-md-6">
        <img style="margin: 0 auto;" class="img-responsive img-rounded" src="../../assets/wedding3.png" alt="Wedding">
    </div>
    <div class="col-md-12" style="padding-top: 20px;">
        <img style="margin: 0 auto;" class="img-responsive img-rounded" src="../../assets/wedding.jpg" alt="Wedding">
    </div>
</div>
