<div class="row">
    <div class="col-md-6">
        <h1>Staff Party Package</h1>
        <p class="lead">5 Dancefloor LED moving lights, 1 Turntable DJ for 5 hours of music. Sound for up to 150 people,
            Additional hours are $50 per hour to extend the timeframe. Mileage for every event is .75¢
            per km.</p>
    </div>
    <div class="col-md-6">
        <div class="well bs-component">
            <form class="form-horizontal">
                <fieldset>
                    <legend>Customize Your Staff Party Package</legend>
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">Name</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" ng-model="staff.name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-10">
                            <input type="email" class="form-control" ng-model="staff.email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textArea" class="col-lg-2 control-label">Tell Us About Your Event</label>
                        <div class="col-lg-10">
                            <textarea class="form-control" rows="3" ng-model="staff.message"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Options</label>
                        <div class="col-lg-10">
                            <div class="checkbox">
                                <label>
                                <input type="checkbox" ng-model="staff.videoPres"> Video Presentation (6x8 Screen)
                              </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="select" class="col-lg-2 control-label">Uplighting</label>
                        <div class="col-lg-10">
                            <select class="form-control" ng-model="staff.uplightingNumber">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button ng-model="sendStaff()" class="btn btn-primary">Send</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
