<div class="row">
    <div class="col-md-12">
        <div class="well bs-component">
            <form class="form-horizontal">
                <fieldset>
                    <legend>Did we miss anything? Please don't hesitate to contact us!</legend>
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">Name</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" ng-model="contact.name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" ng-model="contact.email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textArea" class="col-lg-2 control-label">Your Message</label>
                        <div class="col-lg-10">
                            <textarea class="form-control" rows="3" ng-model="contact.message"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary" ng-click="sendMail()">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
